AUTO_ADD_TO_CART={{ config_addtocart }}
IN_STOCK_WAIT_TIME={{ config_instockwaittime }}
LOW_BANDWIDTH={{ config_lowbandwidth }}
OPEN_BROWSER={{ config_openbrowser }}
PAGE_BACKOFF_MIN={{ config_pagebackoff_min }}
PAGE_BACKOFF_MAX={{ config_pagebackoff_max }}
PAGE_SLEEP_MIN={{ config_pagesleep_min }}
PAGE_SLEEP_MAX={{ config_pagesleep_max }}
PAGE_TIMEOUT={{ config_pagetimeout }}

{% if filter_brands %}
SHOW_ONLY_BRANDS={{ filter_brands|join(',') }}
{% endif %}
{% if filter_models %}
SHOW_ONLY_MODELS={{ filter_models|join(',') }}
{% endif %}
{% if filter_series %}
SHOW_ONLY_SERIES= {{ filter_series|join(',') }}
{% endif %}
{% if filter_stores %}
STORES={{ filter_stores|join(',') }}
{% endif %}

{% if filter_series_maxprice %}
{% for name, price in filter_series_maxprice.items() %}
MAX_PRICE_SERIES_{{ name|upper() }}={{ price }}
{% endfor %}
{% endif %}

{% if notif_discord_groupid %}
DISCORD_NOTIFY_GROUP={{ notif_discord_groupid }}
{% endif %}
{% if notif_discord_webhook %}
DISCORD_WEB_HOOK={{ notif_discord_webhook }}
{% endif %}

{% if notif_email_to %}
EMAIL_TO={{ notif_email_to }}
{% endif %}
{% if notif_email_username %}
EMAIL_USERNAME={{ notif_email_username }}
{% endif %}
{% if notif_email_password %}
EMAIL_PASSWORD={{ notif_email_password }}
{% endif %}
{% if notif_sms_carrier %}
PHONE_CARRIER={{ notif_sms_carrier }}
{% endif %}
{% if notif_sms_number %}
PHONE_NUMBER={{ notif_sms_number }}
{% endif %}
{% if notif_smtp_address %}
SMTP_ADDRESS={{ notif_smtp_address }}
{% endif %}
{% if notif_smtp_port %}
SMTP_PORT={{ notif_smtp_port }}
{% endif %}
